{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>О нас</title>
{% endblock title_page %}
{% block content %}

<style>
   p {
    padding: 100px;
   }
  </style>
  <p><br>Компания ООО «БМТ-Медтехника» основана в 2005 году и с тех пор зарекомендовала себя как надежный партнер в области комплексного оснащения лечебных учреждений. На сегодняшний день компания значительно увеличила направления своей деятельности и ассортимент поставляемого оборудования.  ООО «БМТ-Медтехника» является эксклюзивным представителем ведущих российских и зарубежных производителей современного медицинского оборудования, таких как Esaote S.p.A., CareFusion (Viasys), Pentax, DGM и ТЗМОИ, Тритон и Zisline, GE (Ohmeda Medical), Mindray и др. Компания принимает активное участие в международных специализированных выставках, где представляет свои товары и услуги.</br>
  <br>Для удобства наших клиентов была увеличена география деятельности компании: открыты филиалы в городах Ижевск и Екатеринбург.</br>
  <br>Среди наших заказчиков - лечебные учреждения республиканского уровня, городские и участковые больницы, частные узкоспециализированные кабинеты и многопрофильные клиники. Всё это благодаря тому, что мы предлагаем широкий  ассортимент оборудования и расходных материалов для полного оснащения лечебного учреждения.  Для наших частных клиентов действуют выставочные торговые залы, в которых представлена в наличии вся продукция, необходимая для лицензирования лечебного учреждения, а также товары для домашнего применения.</br>
  <br>Современное качественное медицинское оборудование — это верный путь к повышению качества оказываемых медицинских услуг!</br></p>

  <footer class="footer">
    <div class="container">
      <div class="footer-logo"><a href="#"><img src="{% static 'img/footer-logo.png' %}" alt=""></a></div>
      <span class="copyright">&copy; 2009-2020 ООО "БМТ". Все права защищены.</span>
      <div class="credits">
      </div>
    </div>
  </footer>
{% endblock content %}
