{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>Дипломы</title>
{% endblock title_page %}
{% block content %}

<style>
   .center {
    width: 700px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
   }
  </style>
  <div class="center">
    <b>2016 год</b>
 <p>Диплом за плодотворное сотрудничество, актуальность и профессионализм представленной экспозиции на Недели Здравохранения 2016</p>
   <p><img src="{% static 'img/_здравоохранения 2016 (2).jpg' %}" width="310" height="400" alt="">
   </p>

   <p>
     <b>2015 год</b>
  <p>Диплом участника выставки в рамках мероприятий саммита ШОС и БРИКС на Недели Здравохранения 2015</p>
    <p><img src="{% static 'img/_здравоохранения 2015 (2).jpg' %}" width="310" height="400" alt=""></p>
   </p>

   <p>
     <b>2015 год</b>
  <p>Диплом за достойное представление товаров и услуг на рынке РБ и активное участие компании в работе выставке "МЕДИЦИНА 2015"</p>
    <p><img src="{% static 'img/_2015 (2).jpg' %}" width="310" height="400" alt=""></p>
   </p>

   <p>
     <b>2014 год</b>
  <p>Диплом за достойное представление товаров и услуг на рынке РБ и активное участие компании в работе выставке "МЕДИЦИНА 2014"</p>
    <p><img src="{% static 'img/_2014 (2).jpg' %}" width="310" height="400" alt=""></p>
   </p>

   <p>
     <b>2013 год</b>
  <p>Участие компании в выставке "Дентал-Экспо. Стоматология Урала 2013г"</p>
    <p><img src="{% static 'img/_выставка  стоматологии1.jpg' %}" width="310" height="400" alt=""></p>
   </p>

   <p>
     <b>2013 год</b>
  <p>Участие компании в ХХII специализированной международной выставке-форуме "МЕДИЦИНА 2013". Диплом за достойное представление товаров и услуг на рынке РБ и активное участие в работе выставки.</p>
    <p><img src="{% static 'img/_Медицина 2013 Уфа (2).jpg' %}" width="310" height="400" alt=""></p>
   </p>

   <p>
     <b>2012 год</b>
  <p>Участие компании в ХХII специализированной международной выставке-форуме "МЕДИЦИНА 2012". Диплом за достойное представление товаров и услуг на рынке РБ и активное участие в работе выставки.</p>
    <p><img src="{% static 'img/_2012 (1).jpeg' %}" width="310" height="400" alt=""></p>
   </p>

   <p>
     <b>2011 год</b>
  <p>Диплом за достойное представление товаров и услуг на рынке РБ и активное участие компании в ХХ юбилейной международной специализированной выставке "МЕДИЦИНА 2011".</p>
    <p><img src="{% static 'img/_2011 (1).jpeg' %}" width="310" height="400" alt=""></p>
   </p>

   <p>
     <b>2008 год</b>
  <p>Активное участие компании в ХVII международной специализированной выставке "МЕДИЦИНА 2008". Диплом за достойное представление товаров и услуг на рынке РБ.</p>
    <p><img src="{% static 'img/_2008 (1).jpg' %}" width="310" height="400" alt=""></p>
   </p>

   <p>
     <b>2007 год</b>
  <p>Активное участие компании в ХVI международной специализированной выставке "МЕДИЦИНА 2007". Диплом за достойное представление товаров и услуг на рынке РБ.</p>
    <p><img src="{% static 'img/_2007 (2).jpg' %}" width="310" height="400" alt=""></p>
   </p>

{% endblock content %}
