{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>Инновации</title>
{% endblock title_page %}
{% block content %}

<style>
   .center {
    width: 700px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
   }
  </style>


<div class="center">
  <b><h2>Инновации в области медицинского оборудования</h2></b>
<p><br>Сегодня благодаря активному, динамическому развитию технологий, оборудования медицина вышла на новый уровень эффективности и качества, открывая уникальные возможности для восстановления здоровья людей, продления их жизни.


<hr>В десятку наиболее интересных мировых открытий можно отнести:
<br>
<ul>
  <b>
<br><li>разработку бостонских исследователей: уникальную инъекцию, обеспечивающую организм кислородом в течение 30 минут, то есть позволяющую человеку обходиться без необходимости дыхания воздухом (по мнению учёных, она даст возможность избавиться трахеотомии и будет особенно полезна в военно-полевых условиях, во время катастроф);</li>
<br><li>генетически модифицированную коноплю, выращенную фирмой «Tikun Olam» (Израиль): она не вызывает наркотического опьянения, помогает в борьбе с онкологическими заболеваниями, болезнью Паркинсона, стрессовыми расстройствами, обусловленными травмами, рассеянным склерозом и прочими недугами;</li>
<br><li>гель, созданный голландцами из лаборатории «Radboud Universiteit Nijmegen»: он имеет сходства с нитевидными белковыми структурами (при нагреве он не расплавляется, а застывает) и может применяться при травмах (для остановки кровопотери, «частичного ремонта» повреждённых органов);</li>
<br><li>открытие, сделанное шведскими учёными: они превратили обыкновенный проигрыватель DVD в универсальную лабораторию (применили лазер, считывающий диск, для выполнения анализа крови, проверки ДНК, обнаружения ВИЧ в образцах);</li>
<br><li>электронное бельё, предназначенное для лежачих больных с высоким риском появления пролежней: каждые 10 минут оно формирует электрический импульс, вызывающий сокращение мышц;</li>
<br><li>прибор «Scanadu»: это медицинское оборудование за несколько секунд точно определяет температуру тела, частоту дыхания, сокращения сердечной мышцы человека, уровень его кровяного давления, ЭКГ, насыщенность крови кислородом;</li>
<br><li>автомат под названием «Autospense», разработанный учёными из США (купить медтехнику данного вида можно только по специальному разрешению): он торгует марихуаной (при покупке необходимо ввести специальный код, который выдаёт лечащий врач (напомним, что в Америке марихуану в небольших дозах применяют для избавления от постоянных болей, возникающих при онкологии,  для улучшения настроения при затяжных депрессиях));</li>
<br><li>робота-хирурга, облегчающего проведение хирургических вмешательств (представленная медицинская техника автоматизирует многие операции,  позволяет выполнять очень мелкие манипуляции).</li>
<br><li>трёхмерный принтер, используемый для создания протезов, имплантатов, заменяющих кости, части тела;</li>
<br><li>очки, придуманные исследовательской группой «2AI Labs»: они определяют насыщенность кожи кислородом, уровень гемоглобина, частоту сердцебиения, определяют поверхностные травмы, отдельные заболевания.</li>
</b>
</ul>
 </p>
 </p>

{% endblock content %}
