{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>Инновации</title>
{% endblock title_page %}
{% block content %}

<style>
   .center {
    width: 700px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
   }
  </style>

  <div class="center">
    <b><h2>Медкабинеты в образовательных учреждениях</h2></b>

<b>Медкабинеты школ и детских садов</b> – один из типов медицинских учреждений, где наряду с поликлиниками оказывается систематическое плановое медобслуживание детей и подростков. Это проведение медосмотров учащихся, вакцинация, туберкулинодиагностика и оказание первой медицинской помощи.
<hr>В соответствии с санитарно-гигиеническими требованиями образовательные учреждения в обязательном порядке должны включать помещения для медицинского обслуживания. Их оснащение регламентируется:
<br>
<ul>
  <b>

<br><li>СанПиН 2.4.2.2821-10 «Санитарно-эпидемиологические требования к условиям и организации обучения в общеобразовательных учреждениях»;</li>
<br><li>СанПиН 2.1.3.2630-10 «Санитарно-эпидемиологические требования к организациям, осуществляющим медицинскую деятельность».</li>

</b>
</ul>

<hr>Оказание медицинской помощи детям является лицензируемым видом услуг, а оснащение медкабинета определяется видом помещения (кабинет врача, стоматологический, процедурный или прививочный кабинет), типом и мощностью учреждения и регламентируется санитарным законодательством.
<hr>Оснащение медицинского кабинета в школе аналогично педиатрическому кабинету в поликлинике и включает:
<br>
<ul>
  <b>
  <br><li>  Мебель для школьного медпункта (кушетка, рабочие столы и стулья врача и медсестры, ширма медицинская, аптечный и канцелярский шкафы).</li>
  <br><li>  Оборудование для медкабинета в школе: для определения уровня физического развития – весы и ростомер, сантиметровая лента, динамометр ручной, спирометр; для оценки функционального состояния – тонометр, термометр, стетофонендоскоп, секундомер, таблица для определения остроты зрения.</li>

    </b>
    </ul>

  <hr>К оснащению прививочного кабинета предъявляются особые требования, что связано с инъекциями и хранением вакцин. Поэтому дополнительно устанавливаются медицинские столы с маркировкой по видам прививок, холодильник, оснащённый двумя термометрами и специальный стол для туберкулинодиагностики.
  <hr>Стоматологический кабинет оборудуется универсальной стоматологической установкой, столом и креслом врача-стоматолога, стерилизаторами и другим спецоборудованием. Стандарт оснащения стоматологического кабинета в образовательных учреждениях утверждён Приложением №9 к Порядку оказания медицинской помощи детям, страдающим стоматологическими заболеваниями (Приказ Минздравсоразвития РФ от 3 декабря 2009г №946н).
  <hr>Оснащение процедурного кабинета в школах и детских садах включает мебель и оборудования, предлагаемое для всех типов медкабинетов, умывальник.
  <hr>Каждое медицинское помещение в образовательном учреждении оснащается устройствами и материалами для соблюдения противоэпидемического режима. Это бактерицидный облучатель воздуха, емкости для сбора медицинских отходов, дезинфекции инструментов и расходных материалов, а также их хранения. Особые требования предъявляются и к мебели: она должна иметь специальное покрытие, устойчивое к воздействию влаги и дезинфектантов.
  <hr>Для надлежащего медобслуживания детского населения ООО «БМТ Медтехника» предлагает все виды медицинского оборудования для школ, детских садов и других учебных учреждений. Это современная мебель и аппаратура, которая изготовлена в соответствии с существующими нормативами и имеет сертификаты соответствия, подтверждающие безопасность для здоровья детей.

{% endblock content %}
