{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>Инновации</title>
{% endblock title_page %}
{% block content %}

<style>
   .center {
    width: 700px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
   }
  </style>

<div class="center">
  <b><h2>Как выбрать поставщика качественного медицинского оборудования?</h2></b>

  <br>Планируя закупку качественного медицинского оборудования, необходимо составить список потенциальных поставщиков, провести анализ деятельности каждой из компаний, после чего на основании результатов определить наиболее оптимальный вариант.
<hr>В первую очередь специалисты рекомендуют изучить рекламные материалы в интернете, фирменных каталогах, средствах массовой информации, посетить выставки, ярмарки по медицинской тематике, торговые представительства организаций.
<hr>Собранную информацию необходимо оценить по ряду критериев.

<br>Наиболее важные из них:
<ul>
<br><b><li>условия сотрудничества, качество сервиса (стабильность, надёжность поставок);</li>
<br><li>стоимость поставляемого оборудования (медицинская техника должна иметь конкурентоспособные цены);</li>
<br><li>финансовая устойчивость поставщика (должна подтверждаться независимыми аудиторами).</li></b>
</ul>

<hr>Помимо этого большое значение играет:
<ul>
<br><b><li>оперативность выполнения заказов, стабильность работы;</li>
<br><li>наличие информативных, подробных технических описаний продукции с изображениями;</li>
<br><li>обширность доступного ассортимента предложений (всё медицинское оборудование должно быть сертифицированным, иметь легальное происхождение, соответствовать действующим стандартам, требованиям Минздрава);</li>
<br><li>возможность выполнения быстрого поиска требуемого товара;</li>
<br><li>наличие/отсутствие возможности складирования/экспедирования продукции;</li>
<br><li>опыт других компаний по взаимодействию с поставщиком (вместе с тем учитывается имидж организации в глазах клиентов, общественности);</li>
<br><li>финансовые условия (способность компании-поставщика предоставлять рассрочку платежей, скидки);<li>
<br><li>удобство, оперативность обратной связи;</li>
<br><li>предоставление гарантии на товар, возможность обмена, возврата техники в случае, если она не соответствует заявленным техническим, эксплуатационным характеристикам;</li>
<br><li>наличие послепродажного обслуживания (ни для кого не секрет, что даже самые современные устройства рано или поздно выходят из строя, при этом своевременно полученный сервис, надлежащим образом выполненная инсталляция позволяют снизить  сроки окупаемости оборудования);</li>
</b></ul>
В идеальном случае при возникновении поломки поставщик должен оперативно решить проблему: заказать новую деталь, предоставить инженера для проведения всех необходимых работ.
<hr>
Если есть такая возможность, лучше отдавать предпочтение компании-поставщику, которая:
<ul>
<b><br><li>имеет развёрнутую структуру (логистический, сервисный центр);</li>
<br><li>включает в штат работников практикующих врачей, опытных технических работников, которые могут провести обучение специалистов работе на поставляемом оборудовании, ознакомить с методиками проведения исследований и т.д.;</li>
<br><li>имеет широкую клиентскую базу, в составе которой государственные клиники, ЛПУ, учебные центры;</li>
<br><li>присутствует на рынке рассматриваемых услуг как минимум 10 лет (только в таком случае можно эффективно оценить возможности организации, качество её сервиса);</li>
<br><li>активно участвует в выставках, конференциях, посвящённых медицинскому оборудованию, имеет выставочные торговые залы, где можно воочию увидеть интересующий товар;</li>
<br><li>реализует медицинское оборудование ведущих мировых, отечественных брендов</li></b>
</ul>
Отметим, что всё вышеперечисленное и некоторое иное медоборудование в Уфе можно приобрести в ООО «БМТ-Медтехника». Представленная компания присутствует на рынке с 2005-го года, реализует высококлассную медицинскую технику, комплектующие, расходные материалы к ней и готова полностью оснастить любое лечебное учреждение.

{% endblock content %}
