{% extends 'web/main.html' %}
{% load static %}
{% block title_page %}
<title>Инновации</title>
{% endblock title_page %}
{% block content %}

<style>
   .center {
    width: 700px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
   }
  </style>

  <div class="center">
    <b><h2>Оснащение санаторно-курортных учреждений</h2></b>

<br>В настоящее время санаторно-курортное лечение по праву считается превалирующим способом отдыха и активно используется в профилактике и лечении различных типов патологии, в т.ч. профессиональных заболеваний и «болезней цивилизации».

<hr>Одним из критериев уровня материально-технической базы клиники или санаторно-курортного учреждения является наличие необходимого оборудования и аппаратуры, соответствующих видам оказываемых медицинских услуг. Современный рынок позволяет сделать достойный выбор качественной медицинской аппаратуры.
<hr>ООО «БМТ-Медтехника» является официальным дилером компании ООО НВП «Орбита»  и предлагает вам физиотерапевтическое и диагностического оборудования «Ормед».

<ul>
<b>
<br><li>Оснащение для кинезотерапии – установка для активно-пассивной механотерапии позвоночника «Ормед-КИНЕЗО». Этот аппарат позволяет задавать дозированную нагрузку с пассивным сокращением мышц туловища. Такая методика может использоваться не только для профилактики, но и для лечения заболеваний опорно-двигательного аппарата, а также активизирует ток крови и лимфы, улучшает адаптацию организма и общий психоэмоциональный настрой.</li>
<br><li>Массажное оборудование представлено:
<ul>
<li>бесконтактная гидромассажная ванна, которая имеет прочную эластичную мембрану, что позволяет получить эффект воздействия воды без непосредственного погружения. «Акварелакс» эффективно используется в лечебной и восстановительной медицине, а также в косметологии;</li>
<li>массажная кушетка «Ормед-Релакс», в которую вмонтированы ролики-массажеры (выполняют продольный массаж спины и микровытяжение). Дополнительный электромеханический вертебральный тренажер одновременно массирует позвоночник в поперченной плоскости за счет пассивных волнообразных покачиваний ног из стороны в сторону.</li>
</ul>
<br><li>Подъемники для тяжелобольных с подвесным трехсекционным эргономичным ложе из нержавеющей стали предназначены для погружения в воду и принятия гидропроцедур, транспортировки больных и перемещения их на каталку. Данное устройство значительно облегчает работу медперсонала.</li>
<br><li>Аппараты для сухого и подводного вытяжения:</li>
<ul>
  <li>«Акватракцион» предназначен для проведения гидромассажа, подводного вытяжения и душа-массажа;</li>
  <li>установки для «сухого» воздействия на позвоночник («Ормед-Профилактик», «Ормед-профессионал», «ОРМЕД-Тракцион») выполняют роликовый, вибрационно-тепловой массаж и вытяжения (тракции).</li>
</ul>
<br><li> Анализатор крови (хемилюминометр «ОRMED-Lum») – высокочувствительный, надежный и простой в эксплуатации комплекс, не требующий специальной подготовки медперсонала. Его используют для изучения процессов свободно-радикального окисления, являющихся показателями воспаления, старения и воздействия некоторых неблагоприятных факторов окружающей среды (ионизирующее излучение). Кроме того методика позволяет оценить функциональную активность фагоцитов, проводить качественную и количественную оценку химического и микробиологического загрязнения технологических поверхностей и помещений, продуктов питания и воды, воздуха и других объектов среды обитания. </li>

</b>
  </ul>
<hr> Все представляемые установки гарантируют строго дозированную нагрузку за счет электронного управления, используют свойства аутогравитационного вытяжения. Их применение актуально при заболеваниях позвоночника и костно-мышечной системы, а также для профилактики данного типа патологии у лиц, вынужденных длительно находиться в вынужденной рабочей позе.
  {% endblock content %}
